<!DOCTYPE html>

<html class="no-js" lang="">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Aliexpress</title>
    <meta name="description" content="eButify Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="" />
    <link rel="shortcut icon" href="" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css"
    />
    <link rel="stylesheet" href="../assets/css/cs-skin-elastic.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <link rel="stylesheet" href="../assets/css/hot-product.css" />
  </head>

  <body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
      <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="../index.html"
                ><i class="menu-icon fa fa-dashboard"></i>Dashboard</a
              >
            </li>

            <li class="menu-item-has-children dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="menu-icon fa fa-shopping-cart"></i>Product research</a
              >
              <ul class="sub-menu children dropdown-menu">
                <li>
                  <i class="fa fa-puzzle-piece"></i
                  ><a href="../pages/hotproduct.html">Hot Product</a>
                </li>

                <li>
                  <i class="fa fa-id-card-o"></i
                  ><a href="../pages/trending.html">Trending Products</a>
                </li>
                <li>
                  <i class="fa fa-exclamation-triangle"></i
                  ><a href="../pages/ontherise.html">on The Rise</a>
                </li>
                <li>
                  <i class="fa fa-spinner"></i
                  ><a href="../pages/newproduct.html">New Product</a>
                </li>
                <li>
                  <i class="fa fa-fire"></i
                  ><a href="../pages/allproduct.html">All products</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="menu-icon fa fa-cog"></i>Explorers</a
              >
              <ul class="sub-menu children dropdown-menu">
                <li>
                  <i class="fa fa-shopping-basket"></i
                  ><a href="../pages/aliexpress.html">Aliexpress</a>
                </li>
                <li>
                  <i class="fa fa-amazon"></i
                  ><a href="../pages/amazon.html">Amazon</a>
                </li>
                <li>
                  <i class="fa fa-shopping-bag"></i
                  ><a href="../pages/shopifyproduct.html">Shopify Products</a>
                </li>
                <li>
                  <i class="fa fa-shopping-cart"></i
                  ><a href="../pages/shopifystore.html">Shopify Stores</a>
                </li>
              </ul>
            </li>

            <li class="menu-item-has-children dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="menu-icon fa fa-info"></i>Help</a
              >
              <ul class="sub-menu children dropdown-menu">
                <li>
                  <i class="menu-icon fa fa-video-camera"></i
                  ><a href="../pages/tutorial.html">Tutorials</a>
                </li>

                <li>
                  <i class="menu-icon fa fa-th"></i
                  ><a href="../pages/succes.html">Success Academy</a>
                </li>

                <li>
                  <i class="menu-icon fa fa-phone"></i
                  ><a href="../pages/contact.html">Contract Us</a>
                </li>
                <li>
                  <i class="menu-icon fa fa-facebook-official"></i
                  ><a href="#">join Private group</a>
                </li>
                <li>
                  <i class="menu-icon fa fa-facebook"></i
                  ><a href="#">Like Facebook</a>
                </li>
                <li>
                  <i class="menu-icon fa fa-twitter"></i
                  ><a href="#">Follow Twitter</a>
                </li>
                <li>
                  <i class="menu-icon fa fa-youtube-play"></i
                  ><a href="#">Subscribe Youtube</a>
                </li>
              </ul>
            </li>

            <li class="menu-title">Quick Links</li>
            <!-- /.menu-title -->

            <li>
              <a href="../pages/tutorial.html"
                ><i class="menu-icon fa fa-video-camera"></i>Tutorials
              </a>
            </li>

            <li>
              <a href="../pages/faq.html"
                ><i class="menu-icon fa fa-question"></i>FAQ
              </a>
            </li>

            <li>
              <a href="../pages/contact.html"
                ><i class="menu-icon fa fa-phone"></i>Contact us</a
              >
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </aside>

    <!-- /#left-panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <header id="header" class="header">
        <div class="top-left">
          <div class="navbar-header">
            <a class="navbar-brand" href="../index.html"
              ><img src="../images/logo.png" alt="Logo"
            /></a>
            <a class="navbar-brand hidden" href="./"
              ><img src="../images/logo2.png" alt="Logo"
            /></a>
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
          </div>
        </div>
        <div class="top-right">
          <div class="header-menu bg-lighte">
            <div class="header-left">
              <button class="search-trigger">
                <i class="fa fa-search"></i>
              </button>
              <div class="form-inline">
                <form class="search-form">
                  <input
                    class="form-control mr-sm-2"
                    type="text"
                    placeholder="Search ..."
                    aria-label="Search"
                  />
                  <button class="search-close" type="submit">
                    <i class="fa fa-close"></i>
                  </button>
                </form>
              </div>

              <div class="dropdown for-notification">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="notification"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </div>

              <div class="dropdown for-notification">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="notification"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-heart"></i>
                </button>
              </div>

              <div class="dropdown for-notification">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="notification"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell"></i>
                  <span class="count bg-danger">3</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="notification">
                  <p class="red">You have 3 Notification</p>
                  <a class="dropdown-item media" href="#">
                    <i class="fa fa-check"></i>
                    <p>Server #1 overloaded.</p>
                  </a>
                  <a class="dropdown-item media" href="#">
                    <i class="fa fa-info"></i>
                    <p>Server #2 overloaded.</p>
                  </a>
                  <a class="dropdown-item media" href="#">
                    <i class="fa fa-warning"></i>
                    <p>Server #3 overloaded.</p>
                  </a>
                </div>
              </div>

              <div class="dropdown for-message">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="message"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-envelope"></i>
                  <span class="count bg-primary">4</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="message">
                  <p class="red">You have 4 Mails</p>
                  <a class="dropdown-item media" href="#">
                    <span class="photo media-left"
                      ><img alt="avatar" src="../images/avatar/1.jpg"
                    /></span>
                    <div class="message media-body">
                      <span class="name float-left">Jonathan Smith</span>
                      <span class="time float-right">Just now</span>
                      <p>Hello, this is an example msg</p>
                    </div>
                  </a>
                  <a class="dropdown-item media" href="#">
                    <span class="photo media-left"
                      ><img alt="avatar" src="../images/avatar/2.jpg"
                    /></span>
                    <div class="message media-body">
                      <span class="name float-left">Jack Sanders</span>
                      <span class="time float-right">5 minutes ago</span>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                  </a>
                  <a class="dropdown-item media" href="#">
                    <span class="photo media-left"
                      ><img alt="avatar" src="../images/avatar/3.jpg"
                    /></span>
                    <div class="message media-body">
                      <span class="name float-left">Cheryl Wheeler</span>
                      <span class="time float-right">10 minutes ago</span>
                      <p>Hello, this is an example msg</p>
                    </div>
                  </a>
                  <a class="dropdown-item media" href="#">
                    <span class="photo media-left"
                      ><img alt="avatar" src="../images/avatar/4.jpg"
                    /></span>
                    <div class="message media-body">
                      <span class="name float-left">Rachel Santos</span>
                      <span class="time float-right">15 minutes ago</span>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="user-area dropdown float-right">
              <a
                href="#"
                class="dropdown-toggle active"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="user-avatar rounded-circle"
                  src="../images/admin.jpg"
                  alt="User Avatar"
                />
              </a>

               <div class="user-menu dropdown-menu">
                <a class="nav-link" href="../pages/password.html"
                  ><i class="fa fa-lock"></i>Password</a
                >

                <a class="nav-link" href="../pages/subscriptions.html"
                  ><i class="fa fa-user"></i>subcription
                  
                

                <a class="nav-link" href="../pages/billing.html"
                  ><i class="fa fa-credit-card"></i>Billing</a
                >

              

                <a class="nav-link" href="#"
                  ><i class="fa fa-power -off"></i>Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- /#header -->
      <!-- Content -->

      <div class="content containers">
        <!-- Animated -->
        <div class="animated fadeIn">
          <!-- Widgets  -->
          <div class="top_section">
            <div class="ebutify-product-title">
              <h1>Aliexpress</h1>
            </div>

            <div class="ebutify-tutorial">
              <button class="btn button1">
                <i class="fa fa-video-camera"></i>
                <a href="../pages/tutorial.html">TUTORIALS</a>
              </button>
            </div>
          </div>

          <!--search Box-->

          <div class="row my-3 mt-3 mx-2">
            <div class="col-lg-6 col-md-6">
              <div class="input-group mb-3">
                <input
                  class="form-control search"
                  type="search"
                  placeholder="search.."
                />
                <div class="input-group-append">
                  <button class="btn lgreen">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <br />

            <div class="row container p-3 mx-2">
              <div class="col-lg-3 col-md-6 mt-2">
                <div class="dropdown">
                  <button
                    class="btn btn-light dropdown-toggle px-5 px-2"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    All catagories
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <input
                      type="text"
                      placeholder="Search.."
                      id="myInput"
                      onkeyup="filterFunction()"
                    />
                    <a class="dropdown-item" href="#">Air condition</a>
                    <a class="dropdown-item" href="#">android</a>
                    <a class="dropdown-item" href="#">Baby</a>
                    <a class="dropdown-item" href="#">Backpack</a>
                    <a class="dropdown-item" href="#">Beatch</a>
                    <a class="dropdown-item" href="#">Beauty</a>
                    <a class="dropdown-item" href="#">Cars</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mt-2 mx-2">
                <div class="dropdown">
                  <button
                    class="btn px-5 px-2 btn-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    All Niches
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <input
                      type="text"
                      placeholder="Search.."
                      id="myInput"
                      onkeyup="filterFunction()"
                    />
                    <a class="dropdown-item" href="#">Air condition</a>
                    <a class="dropdown-item" href="#">android</a>
                    <a class="dropdown-item" href="#">Baby</a>
                    <a class="dropdown-item" href="#">Backpack</a>
                    <a class="dropdown-item" href="#">Beatch</a>
                    <a class="dropdown-item" href="#">Beauty</a>
                    <a class="dropdown-item" href="#">Cars</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mt-2 mx-2">
                <select class="form-control" name="" id="">
                  <option value="">Filet Products</option>
                  <option value="">By Product Type</option>
                  <option value="">By price over</option>
                  <option value="">By Price under</option>
                  <option value="">By orders over</option>
                  <option value="">By Found Date</option>
                  <option value="">By Last added Date</option>
                </select>
              </div>

              <div class="col-lg-2 col-md-6 mt-2">
                <select class="form-control" name="" id="">
                  <option value="">Sort Products</option>
                  <option value="">By stores Selling</option>
                  <option value="">By Total Orders</option>

                  <option value="">By Found Date</option>
                  <option value="">By Last added Date</option>
                </select>
              </div>
            </div>
          </div>

          <!--Second Row-->

          <div class="contain">
            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img2.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img4.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img3.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img5.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img4.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 m-2">
              <div class="row">
                <div class="col-lg-2 col-md-6">
                  <img
                    src="../images/img3.jpg"
                    class="img-thumbnail zoom"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-4 col-md-6">
                  <h1 class="text5">
                    Elastic No Tie Shoelaces Semicircle Laces ...
                  </h1>
                  <span class="text6"><b> Category: </b> Shoes </span>
                  <span class="text6"><b> Price: </b> $1.54 </span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <span>4.8</span>
                  <span>(6991)</span>
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>97.4% Store Positive Feedback</span>

                  <div class="pt-2">
                    <span class="btn btn-light"
                      ><img src="../images/ali.png" alt="" />
                      <a class="tlink" href="#">Aliexpress</a>
                    </span>

                    <span class="btn lgreen"
                      ><i class="fa fa-plus"></i>
                      <a class="tlink text-light" href="#">Add</a>
                    </span>

                    <span class="btn btn-light"
                      ><i class="fa fa-youtube-play"></i>
                      <a class="tlink" href="#">video</a>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <div>
                    <span
                      ><i class="fa fa-shopping-basket">
                        <span>Orders</span>
                      </i>
                      286,355</span
                    >
                  </div>
                  <div>
                    <span
                      ><i class="fa fa-money">
                        <span>Sales</span>
                      </i>
                      $286,355</span
                    >
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-2">
                  <span class="text6"> Daily </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >1.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$4.7K Sales Since Last Check</span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <span class="text6"> overall </span>
                  <div>
                    <span class="text6">
                      <i class="fa text-success fa-arrow-up" aria-hidden="true"
                        >12.08%
                      </i>
                      <sup>+548</sup>
                      <i class="fa fa-shopping-bag"> </i>
                    </span>
                    <span class="text9">$64.7K Sales Since Added</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <!-- /#add-category -->
        </div>
        <!-- .animated -->
      </div>
      <!-- /.content -->

      <div class="condtainer">
        <p class="text-center">
          © 2017 - 2021 Sell The Trend. All rights reserved
        </p>
      </div>

      <div class="clearfix"></div>
      <!-- Footer -->

      <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
